Code/
Kingsoft/
QtProject.conf
Thunar/
dconf/
google-chrome/
gtk-3.0/
jgit/
mimeapps.list
pulse/
vlc/
xfce4/
qBittorrent
chromium
galculator/
gtk-2.0/
sqlitebrowser/
Trolltech.conf
mirage/
Mousepad/
configstore/
Insomnia/
